body {
    background-color:beige;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    justify-content: space-between;
    height:100vh;
    font-size: 16px;
}